USE [master]
GO
/****** Object:  Database [Nhom21_DHKTPM12A]    Script Date: 5/5/2019 9:33:40 AM ******/
CREATE DATABASE [Nhom21_DHKTPM12A]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Nhom21_DHKTPM11A', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Nhom21_DHKTPM11A.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Nhom21_DHKTPM11A_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Nhom21_DHKTPM11A_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Nhom21_DHKTPM12A].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Nhom21_DHKTPM12A]
GO
/****** Object:  Table [dbo].[Chitietdonhang]    Script Date: 5/5/2019 9:33:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chitietdonhang](
	[imadonhang] [int] NOT NULL,
	[soluongct] [int] NULL,
	[masp] [int] NOT NULL,
	[sDongiact] [float] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DonHang]    Script Date: 5/5/2019 9:33:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHang](
	[iMadonhang] [int] NOT NULL,
	[sSDT] [nchar](15) NOT NULL,
	[dtNgaydathang] [date] NULL,
	[sPtthanhtoan] [nvarchar](50) NULL,
	[sDiachiNhanhang] [nvarchar](50) NULL,
 CONSTRAINT [PK_DonHAng] PRIMARY KEY CLUSTERED 
(
	[iMadonhang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 5/5/2019 9:33:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[iMakh] [int] IDENTITY(1,1) NOT NULL,
	[tenkh] [nvarchar](50) NULL,
	[sSDT] [nchar](15) NOT NULL,
	[sDiachi] [nvarchar](100) NULL,
	[sEmail] [nvarchar](50) NULL,
	[Gioitinh] [nvarchar](50) NULL,
	[Ngaysinh] [date] NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[iMakh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LoaiSanPham]    Script Date: 5/5/2019 9:33:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiSanPham](
	[spMaLoai] [int] IDENTITY(1,1) NOT NULL,
	[spTenLoai] [nvarchar](50) NULL,
	[spThongTinLoai] [nvarchar](200) NULL,
 CONSTRAINT [PK_LoaiSanPham] PRIMARY KEY CLUSTERED 
(
	[spMaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Quyen]    Script Date: 5/5/2019 9:33:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quyen](
	[imaquyen] [int] NOT NULL,
	[sTenquyen] [nvarchar](50) NULL,
 CONSTRAINT [PK_Quyen] PRIMARY KEY CLUSTERED 
(
	[imaquyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Sanpham]    Script Date: 5/5/2019 9:33:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sanpham](
	[masp] [int] IDENTITY(1,1) NOT NULL,
	[sTensp] [nvarchar](50) NULL,
	[dDongia] [float] NULL,
	[sAnhsp] [nvarchar](50) NULL,
	[sMota] [nvarchar](50) NULL,
	[spMaLoai] [int] NOT NULL,
	[trangthai] [nvarchar](50) NULL,
 CONSTRAINT [PK_Sanpham] PRIMARY KEY CLUSTERED 
(
	[masp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 5/5/2019 9:33:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[sSDT] [nchar](15) NOT NULL,
	[sMatkhau] [nchar](15) NOT NULL,
	[iMaquyen] [int] NOT NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[sSDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([iMakh], [tenkh], [sSDT], [sDiachi], [sEmail], [Gioitinh], [Ngaysinh]) VALUES (1, N'lam', N'0789600766     ', N'go xoai', N'sogoten6689@gmail.com', N'nam', CAST(N'1997-06-04' AS Date))
INSERT [dbo].[KhachHang] ([iMakh], [tenkh], [sSDT], [sDiachi], [sEmail], [Gioitinh], [Ngaysinh]) VALUES (2, N'nhat', N'0123456788     ', N'nguyen thai son', N'sss@gmail.com', N'nam', CAST(N'1997-01-01' AS Date))
INSERT [dbo].[KhachHang] ([iMakh], [tenkh], [sSDT], [sDiachi], [sEmail], [Gioitinh], [Ngaysinh]) VALUES (3, N'tan', N'0123456789     ', N'nguyen van bao', N'tan@gmail.com', N'nu', CAST(N'1997-12-12' AS Date))
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
SET IDENTITY_INSERT [dbo].[LoaiSanPham] ON 

INSERT [dbo].[LoaiSanPham] ([spMaLoai], [spTenLoai], [spThongTinLoai]) VALUES (1005, N' Chuột có dây ', N' chuột quang có dây. cổng usb dành cho máy bàn laptop,... ')
INSERT [dbo].[LoaiSanPham] ([spMaLoai], [spTenLoai], [spThongTinLoai]) VALUES (1006, N' Bàn phím có dây ', N' Bàn phím có dây cổng usb ')
SET IDENTITY_INSERT [dbo].[LoaiSanPham] OFF
INSERT [dbo].[Quyen] ([imaquyen], [sTenquyen]) VALUES (1, N'USER')
INSERT [dbo].[Quyen] ([imaquyen], [sTenquyen]) VALUES (2, N'ADMIN')
SET IDENTITY_INSERT [dbo].[Sanpham] ON 

INSERT [dbo].[Sanpham] ([masp], [sTensp], [dDongia], [sAnhsp], [sMota], [spMaLoai], [trangthai]) VALUES (2, N'chuột 50k', 49999, N'', N'Chuột giá có dây nhỏ gọn tiện lợi', 1005, N'Còn hàng')
INSERT [dbo].[Sanpham] ([masp], [sTensp], [dDongia], [sAnhsp], [sMota], [spMaLoai], [trangthai]) VALUES (3, N'chuột 70k', 49999, N'', N'Bán đúng giá nhé!', 1005, N'Còn hàng')
INSERT [dbo].[Sanpham] ([masp], [sTensp], [dDongia], [sAnhsp], [sMota], [spMaLoai], [trangthai]) VALUES (4, N'Bàn phím nhật', 80000, N'', N'', 1006, N'Còn hàng')
SET IDENTITY_INSERT [dbo].[Sanpham] OFF
INSERT [dbo].[TaiKhoan] ([sSDT], [sMatkhau], [iMaquyen]) VALUES (N'0123456789     ', N'123456         ', 2)
INSERT [dbo].[TaiKhoan] ([sSDT], [sMatkhau], [iMaquyen]) VALUES (N'0789600766     ', N'123456         ', 1)
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_DonHang]    Script Date: 5/5/2019 9:33:40 AM ******/
CREATE NONCLUSTERED INDEX [IX_DonHang] ON [dbo].[DonHang]
(
	[sSDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_KhachHang]    Script Date: 5/5/2019 9:33:40 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_KhachHang] ON [dbo].[KhachHang]
(
	[sSDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = ON, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Chitietdonhang]  WITH CHECK ADD  CONSTRAINT [FK_Chitietdonhang_DonHang] FOREIGN KEY([imadonhang])
REFERENCES [dbo].[DonHang] ([iMadonhang])
GO
ALTER TABLE [dbo].[Chitietdonhang] CHECK CONSTRAINT [FK_Chitietdonhang_DonHang]
GO
ALTER TABLE [dbo].[Chitietdonhang]  WITH CHECK ADD  CONSTRAINT [FK_Chitietdonhang_Sanpham] FOREIGN KEY([masp])
REFERENCES [dbo].[Sanpham] ([masp])
GO
ALTER TABLE [dbo].[Chitietdonhang] CHECK CONSTRAINT [FK_Chitietdonhang_Sanpham]
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD  CONSTRAINT [FK_DonHang_KhachHang] FOREIGN KEY([sSDT])
REFERENCES [dbo].[KhachHang] ([sSDT])
GO
ALTER TABLE [dbo].[DonHang] CHECK CONSTRAINT [FK_DonHang_KhachHang]
GO
ALTER TABLE [dbo].[Sanpham]  WITH CHECK ADD  CONSTRAINT [FK_Sanpham_LoaiSanPham] FOREIGN KEY([spMaLoai])
REFERENCES [dbo].[LoaiSanPham] ([spMaLoai])
GO
ALTER TABLE [dbo].[Sanpham] CHECK CONSTRAINT [FK_Sanpham_LoaiSanPham]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoan_KhachHang] FOREIGN KEY([sSDT])
REFERENCES [dbo].[KhachHang] ([sSDT])
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK_TaiKhoan_KhachHang]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoan_Quyen] FOREIGN KEY([iMaquyen])
REFERENCES [dbo].[Quyen] ([imaquyen])
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK_TaiKhoan_Quyen]
GO
USE [master]
GO
